*{box-sizing:border-box;}
html{width:100%;margin:0;}
body{width:100%;margin:0;display:block;font-family:Arial,sans-serif;}
header{width:100%;display:flex;flex-direction:row;flex-wrap:wrap;margin:30px 0 50px;}
header > *{margin:auto;}
header img{max-width:256px;max-height:256px;}
header small{font-style:italic;}
nav{display:flex;align-items:center;}
nav a{margin:auto;}
nav.d{flex-direction:row;flex-wrap:wrap;}
nav.pt{display:none;flex-direction:column;z-index:1;position:fixed;width:100%;right:1px;transition:height 1s;}
nav.pt a{text-align:center;font-size:2rem;}
nav.pt img{cursor:pointer;}
main{width:100%;display:block;align-items:center;margin:0 0 25px;}
main img{margin:10px auto;cursor:pointer;}
main h1{margin:2rem auto;padding:0 1rem;}
section{width:100%;margin:20px 0;display:flex;align-items:center;flex-direction:row;flex-wrap:wrap;}
div{display:flex;align-items:center;flex-direction:column;margin:auto;justify-content:center;}
a{color:#000;font-size:inherit;}
h1{font-size:3.5rem;margin:.88rem auto .88rem;width:100%;text-align:center;padding:0 1.5rem;}
h2{font-size:2.25rem;margin:1.13rem auto;width:100%;text-align:center;}
p{font-size:1.75rem;margin:.88rem auto;width:100%;}
q{display:inline;font-size:inherit;font-style:italic;}
address{font-style:normal;text-decoration:underline;line-height:1.5;}
small{font-size:1.75rem;text-align:center;}
span{font-size:inherit;}
ul{padding-left:0;list-style-position:inside;}
li{font-size:1.75rem;}
table{border-collapse:collapse;margin:0 auto 32px;}
table img{margin:0;}
th{font-size:2rem;padding:15px;}
td{font-size:1.5rem;text-align:center;padding:10px;}
img{align-items:center;vertical-align:middle;flex-shrink:0;margin:auto;}
button{display:inline-block;margin:10px auto;padding:15px 20px;border-radius:25px;font-size:1.5rem;cursor:pointer;border:none;transition:background-color .1s;}
button:focus{outline:none;}
footer{display:flex;align-items:center;flex-direction:row;flex-wrap:wrap;width:100%;margin:0 0 20px;}
footer > a{margin:auto;}
.ic{font-size:1.75rem;flex-direction:row;flex-wrap:wrap;position:relative;}
.ic *{cursor:pointer;position:relative;}
.icd{flex-direction:column;}
.icd:first-child{padding-left:15px;}
.icd:nth-child(3){padding-right:15px;}
.icd > div:first-child{margin:0 auto 6px 0;}
.icd > div:nth-child(2){margin: 6px auto 0 0;}
.icd #ics{margin-right:1px;}
.icd #icp img{margin-left:1px;}
.ioi{margin:0 !important;cursor:pointer;}
.tc{text-align:center;}
.q{display:inline;font-size:1.75rem;margin:.88rem auto 1.75rem;width:80%;}
.ql{display:inline;font-size:1.38rem;margin:.88rem auto 1.38rem;font-style:italic;}
.qs{text-align:center;font-size:1.5rem;margin:.75rem auto;font-style:italic;}
.qs.tc{font-size:1.75rem;margin:.75rem auto 2.25rem;}
.s{width:100%;margin:0;}
.s span{font-size:2rem;margin:1rem auto;width:90%;text-align:center;}
.sr{margin:auto;font-size:2rem;text-align:center;}
.niq{font-style:normal;}
.hul{font-weight:bold;}
.sul{font-weight:bold;}
.fcd figcaption{width:100%;text-align:center;background-color:#000;padding:5px 0;}
.fcd img{width:100%;margin-bottom:0;}
.c{flex-direction:column;}
.c4{width:80%;}
.c4 th{width:20%;}
.c4 td{width:20%;}
.cr{flex-direction:column-reverse !important;}
.pt{display:none;}
.hil{width:45%;cursor:zoom-in;}
.hil::selection{user-select:none;}
.hi{width:40%;cursor:zoom-in;}
.hi::selection{user-select:none;}
.si{width:30%;cursor:zoom-in;}
.si::selection{user-select:none;}
.vi{width:25%;cursor:zoom-in;}
.vi::selection{user-select:none;}
.vil{width:20%;cursor:zoom-in;}
.vil::selection{user-select:none;}
.w10{width:10%;}
.w15{width:15%;}
.w20{width:20%;}
.w25{width:25%;}
.w30{width:30%;}
.w35{width:35%;}
.w36{width:36%;}
.w40{width:40%;}
.w45{width:45%;}
.w49{width:49%;}
.w50{width:50%;}
.w55{width:55%;}
.w60{width:60%;}
.w70{width:70%;}
.w80{width:80%;}
.w90{width:90%;}
.w100{width:100%;}
.b1024{display:none;}
.b501dt{display:none;}
.t{display:none;}
.r{width:100%;margin:0;flex-direction:row;flex-wrap:wrap;}
.rr{flex-direction:row-reverse;}
.nw{white-space:nowrap;}
.b{padding:0 6px;}
.b #m{padding:9px;}
.b #mg{max-width:100%;max-height:100%;}
.b .mii{width:100%;height:100%;}
.iis{cursor:pointer;}
.ii{margin:0;}
.fsi{font-style:italic;}
.rp30{transform:rotate(30deg);}
.rn30{transform:rotate(-30deg);}
.lh28{line-height:28px;}
.p3r{padding:3rem;}
.m10xa{margin:10px auto;}
.loader{border: 16px solid #fff;border-top: 16px solid #999;border-radius: 50%;width: 100%;height: 100%;animation: spin 2s linear infinite;}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
#l{cursor:auto;}
#bn{display:none;align-self:center;}
#bn img{margin-top:1px;}
#lh img{max-width:100%;}
#nx{width:48px;height:48px;cursor:pointer;display:inline-block;margin:auto;}
#lvc2 #ic2d >
#ic3d{flex-direction:row;}
#ic3d > div:first-child{margin:auto auto auto 0;}
#ic3d > div:nth-child(2){margin:auto 15px;}
#ic3d > div:last-child{margin:auto 0 auto auto;}
#ic3d #icp{margin-left:1px;}
#ic3d #ica{position:relative;right:5px;}
#ic3d #ics{position:relative;right:5px;}
#lvc3 #ic3d{flex-direction:column;}
#lvc3 #ic3d > div{margin-left:0;margin-right:auto;}
#lvc3 #ic3d div:nth-child(2){margin-top:10px;margin-bottom:10px;}
#lvc3 #ic3d #ice span{left:1px;}
#lvc3 #ic3d #ics{right:0;}
#lvc3 #ic3d #ics img{right:1px;}
#lvc3 #ic3d #ics span{left:3px;}
#lhn3c3 #lh{width:20%;margin-left:15px;}
#lhn3c3 nav.d a{font-size:1.75rem;}
#lhn3c3 nav.d a:first-child{margin-left:auto;margin-right:0;}
#lhn3c3 nav.d a:nth-child(2){margin-left:20px;margin-right:20px;}
#lhn3c3 nav.d a:nth-child(3){margin-left:0;margin-right:0;}
#lhn3c3 #icd{flex-direction:column;margin-right:30px;}
#lhn3c3 #icd > div:first-child{margin:0 auto 0 0;}
#lhn3c3 #icd > div:nth-child(2){margin:5px auto 5px 0;}
#lhn3c3 #icd > div:last-child{margin:0 auto 0 0;}
#lsn3c4{margin:20px 0 50px;}
#lsn3c4 #l{max-width:192px;max-height:192px;margin-left:24px;}
#lsn3c4 nav.d a{font-size:1.9rem;}
#lsn3c4 nav.d a:first-child{margin-left:auto;margin-right:0;}
#lsn3c4 nav.d a:nth-child(2){margin-left:30px;margin-right:30px;}
#lsn3c4 nav.d a:nth-child(3){margin-left:0;margin-right:0;}
#lsn3c4 .icddd.d{margin-right:24px;}
#lsn3c4 button.ic{padding:8px 12px;}
#lsn3c4 .icd:first-child{margin-right:12px;padding-left:0;}
#lsn3c4 .ic span{font-size:1.4rem;}
#lsn3c4 .icdd{flex-direction:row;}
#lsn3c4 .ica{margin-right:auto;padding-top:7px;padding-bottom:7px;}
#lsn3c4 .ics{margin-right:auto;padding-top:7px;padding-bottom:7px;}
#lsn3c4 .icp img{width:30px;height:30px;margin-right:9px;}
#lsn3c4 .ice img{width:32px;height:32px;margin-right:5px;right:2px}
#lsn3c4 .ich img{width:32px;height:32px;right:5px;margin-left:2px;}
#lsn3c4 .ica img{width:34px;height:34px;right:4px;}
#lsn3c4 .ics img{width:34px;height:34px;right:4px;}
#icp img{width:32px;height:32px;margin-right:6px;}
#ice img{width:32px;height:32px;margin-right:5px;}
#ich img{width:32px;height:32px;margin-right:2px;margin-left:1px;}
#ica img{width:34px;height:34px;}
#ica span{position:relative;right:3px;}
#ics img{width:34px;height:34px;}
#ics span{position:relative;right:3px;}
#s *{font-size:1.5rem;}
#s > *{padding:.75rem;}
#sam{width:20%;}
#sam img{width:100%;}
#ss .li3 .sul{font-size:2rem;}
#ssm{width:20%;}
#ssm img{width:100%;}
#ss ul{margin:auto;}
#ss li span{position:relative;right:8px;}
#sh{margin-bottom:10px;}
#sh ul{list-style-type:none;margin:auto;}
#sh .bp{list-style-type:disc !important;}
#spe a{word-break:break-word;text-align:center;}
#spe > *:nth-child(2){margin:1.25rem auto;}
#f4 img{width:64px;height:auto;}
#f3 img{width:64px;height:64px;}
#f2 img{width:96px;height:96px;}
#f2 #bbb{width:56px}
#f2 #a{margin:3rem auto 0;}
#f1 img{width:96px;height:96px;}
#f0 #a{margin:0 auto 0;}
#a{font-size:1rem;padding:0 5%;width:100%;text-align:center;margin:3rem auto 0;}
#m{display:none;flex-direction:column;width:100%;left:0;top:0;height:100%;position:fixed;z-index:1;background-color:#fff;}
#m img{cursor:auto;}
.b #md > *{max-width:100%;max-height:100%;}
#md > *{max-width:98%;max-height:97%;}
#md .mii img{max-width:100%;max-height:75%;margin-bottom:0;width:unset;}
#md{width:100%;height:90%;}
#md > *{display:none;}
#md .mii span{font-size:2rem;width:90%;margin:1rem auto auto;text-align:center;}
#mg{width:auto;max-width:98%;max-height:97%;}
#mg::selection{user-select:none;}
#mp{flex-direction:column;}
#mp *{font-size:2.5rem;}
#mp .ioi{width:40px;height:40px;margin-bottom:3px;}
#mp ul{margin-bottom:40px;}
#me{width:90%;flex-direction:column;}
#me *{font-size:2.5rem;}
#me a{word-break:break-word;text-align:center;}
#me .ioi{width:40px;height:40px;margin-top:1px;}
#mh{flex-direction:row;}
#mh ul{list-style-type:none;}
#mhs{font-weight:bold;}
#ma img{width:50%;}
#ma .ioi{width:40px;height:40px;margin-bottom:3px;}
#ms{flex-direction:row;width:100%;}
#ms ul{margin:auto;font-size:2rem;}
#ms li{font-size:2rem;}
#ms img{width:60%;margin-left:0;}
#ms img.si{width:45%;}
#msms.hil {width:60%;}
#msms.hi {width:55%;}
#ms #msms img{width:100%;margin:auto auto .75rem;}
#ms #msms .ioi{width:unset;}
#ms .li3 .sul{font-size:2.5rem;}
#ms .li3 li{font-size:2rem;}
#msms span{font-size:1.25rem;font-style:italic;text-align:center;}
#mssul{display:none;}
#ma{flex-direction:column;}
#mxd{width:100%;height:10%;}
#mx{width:48px;height:48px;margin:auto;background-color:#fff;cursor:pointer !important;display:inline-block;}
#mnr{width:50%;}
/*form*/
form label{font-size:1.5rem;}
.fd label{margin:.4rem auto;}
.fd{width:50%;}
.fdd{width:50%;padding:0 .4rem .4rem;margin:10px 0;border-radius:8px;transition:background-color 1s;}
.fdd.dfe{width:60%;}
.fd textarea{width:100%;height:152px;resize:none;font-size:16px;}
.fd textarea:disabled{background-color:#fff;}
.fd input{height:32px;width:100%;text-align:center;font-size:16px;}
.fd input:focus{outline:none;}
.fd input:disabled{background-color:#fff;}
.fi{transition:background-color 1s;}
#df{width:70%;border-radius:32px;margin:10px auto;padding:10px;}
#ddf{border-radius:32px;width:100%;}
#f{display:flex;flex-wrap:wrap;width:100%;}
#fmd{width:100%;}
#fmd .fdd{padding:0 .6rem .6rem;width:55%;transition:margin-bottom .5s, background-color 1s;}
#fmd input{width:50%;}
#fmd label{margin:.6rem auto .6rem;}
#fm{width:100%;}
#ddf h2{padding:0 1rem;}
#dfc{width:100%;margin:0 auto;height:0;transition:height 1s,margin .5s;}
#fc{opacity:0;z-index:-1;position:fixed;transition:opacity 1s;}
#dfs{width:156px;height:0;transition:height .5s,margin .5s;margin:0 auto;}
#fs{border-radius:8px;width:156px;height:64px;font-size:2rem;cursor:pointer;transition:opacity 1s,border-color 1s;display:none;opacity:0;margin:0;padding:0;}
#fsSend,#fsSent{height:100%;}
#fsSend{flex-direction:row;transition:opacity .25s;}
#fsSendImgDiv,#fsSent img,#fsSentError img{width:28px;height:28px;margin:0 0 0 6px;}
#fsSendImgDiv img,#fs .loader{width:100%;height:100%;}
#fsSend img,#fs .loader,#fsSentErrorText,#fsSentError img{transition:opacity .5s;}
#fs .loader,#fsSent,#fsSentError,#fsSentErrorResend{display:none;}
#fs .loader{opacity:0;}
#fsSent span,#fsSent img{transition:opacity 1s;opacity:0;}
#fsSent{flex-direction:row;}
#fsSent img{width:32px;height:32px;margin:0 0 0 4px;}
#fsSentError,#fsSentErrorResend{transition:opacity .5s;flex-direction:row;}
#fsSentError img{color:#f00;}
#fsSentErrorResend span{font-size:1.5rem;}
#fsSentErrorResend img{width: 24px;height: 24px;margin: 0 0 0 4px;}
/*form*/
@media screen and (max-width:1440px){
    .fdd.dfe{width:65%;}
    #lhn3c3 nav.d a{font-size:1.5rem;}
    #lhn3c3 .ic span{font-size:1.5rem;}
    #lhn3c3 #icp img{width:30px;height:30px;}
    #lhn3c3 #ice img{width:30px;height:30px;}
    #lhn3c3 #ich img{width:30px;height:30px;}
    #lhn3c3 #ica img{width:32px;height:32px;}
    #lhn3c3 #ics img{width:32px;height:32px;}
    #lsn3c4{margin:18px 0 50px;}
    #lsn3c4 #l{max-width:168px;max-height:168px;margin-left:22px;}
    #lsn3c4 nav.d a{font-size:1.6rem;}
    #lsn3c4 nav.d a:nth-child(2){margin-left:24px;margin-right:24px;}
    #lsn3c4 button.ic{padding:6px 10px;}
    #lsn3c4 .ic span{font-size:1.3rem;}
    #lsn3c4 .icdd{flex-direction:row;margin-right:22px;}
    #lsn3c4 .icp img{width:28px;height:28px;margin-left:1px;}
    #lsn3c4 .ice img{width:30px;height:30px;}
    #lsn3c4 .ich img{width:30px;height:30px;right:5px;margin-right:0;}
    #lsn3c4 .ica img{width:30px;height:30px;}
    #lsn3c4 .ics img{width:30px;height:30px;}
    #lsn3c4 .ics{margin-right:auto;}
}
@media screen and (max-width:1280px){
    h1{font-size:3rem;margin:.75rem auto;}
    h2{font-size:2.13rem;margin:1.07rem auto;}
    p{font-size:1.5rem;margin:.75rem auto;}
    small{font-size:1.5rem;}
    .icd > div:first-child{margin-bottom:4px;}
    .icd > div:nth-child(2){margin-top:4px;}
    .ic{font-size:1.5rem;}
    .q{font-size:1.5rem;margin:.75rem auto;}
    .ql{font-size:1.25rem;margin:.75rem auto;}
    .qs{font-size:1.5rem;margin:.75rem auto;}
    .s span{font-size:1.75rem;}
    .c4{width:90%;}
    .b1024w80{width:80%;}
    .fdd.dfe{width:70%;}
    #icp img{width:30px;height:30px;}
    #ice img{width:30px;height:30px;}
    #ich img{width:30px;height:30px;}
    #ica img{width:32px;height:32px;}
    #ics img{width:32px;height:32px;}
    #lhn3c3 nav.d a{font-size:1.38rem;}
    #lhn3c3 #lh{width:18%;}
    #lhn3c3 #icd{flex-direction:column;margin-right:15px;}
    #lsn3c4{margin-bottom:25px;}
    #lsn3c4 #l{max-width:224px;max-height:224px;}
    #lsn3c4 nav.d a:nth-child(2){margin-left:30px;margin-right:30px;}
    #lsn3c4 .icddd.d{display:none;}
    #lsn3c4 .icddd.b1024{display:flex;width:100%;margin-top:25px;}
    #lsn3c4 .icddd.b1024 .icd{flex-direction:row;}
    #lsn3c4 .icddd.b1024 .icdd{margin-left:auto;margin-right:auto;}
    #lsn3c4 .icddd.b1024 .icd:first-child{margin-right:0;}
    #lsn3c4 .icddd.b1024 .icp{margin-right:10px;}
    #lsn3c4 .icddd.b1024 .ice{margin-right:5px;}
    #lsn3c4 .icddd.b1024 .ich{margin-left:10px;}
    #lsn3c4 .icddd.b1024 .ics{margin-left:5px;}
    #lsn3c4 .icddd.b1024 .icdd > div{flex-direction:row;}
    #lsn3c4 .icddd.b1024 .icdd{border-radius:25px;border:#d94308 solid 3px;padding-left:5px;padding-right:5px;}
    #lsn3c4 .icddd.b1024 .ic{margin-top:5px;margin-bottom:5px;padding-top:5px;padding-bottom:5px;}
    #fmd .fdd{width:60%;}
    #spe{width:100%;}
    #sh{width:33.33%;}
    #sa{width:33.33%;}
    #ss{width:33.33%;}
    #sam{width:33.33%;}
    #ssm{width:33.33%;}
    #me *{font-size:2.25rem;}
    #me .ioi{width:36px;height:36px;}
}
@media screen and (max-width:1152px){
    main h1{font-size:3rem;}
    th{font-size:1.75rem;}
    td{font-size:1.38rem;}
    .qs.tc{font-size:1.5rem;}
    .fdd.dfe{width:75%;}
    #lsn3c4 nav.d a{font-size:1.5rem;}
    #lsn3c4 nav.d a:nth-child(2){margin-left:24px;margin-right:24px;}
    #fmd .fdd{width:65%;}
}
@media screen and (max-width:1024px){
    main h1{font-size:2.75rem;}
    th{font-size:1.63rem;}
    td{font-size:1.25rem;}
    footer{margin-bottom:30px;}
    .qs.tc{font-size:1.38rem;}
    .s span{font-size:1.5rem;}
    .b1024w25{width:25%;}
    .b1024w30{width:30%;}
    .b1024w60{width:60%;}
    .b1024w65{width:65%;}
    .b1024w70{width:70%;}
    .b1024dn{display:none;}
    .fdd{width:200px;}
    .fdd.dfe{width:250px;max-width:100%;}
    #lhn3c3 #lh{width:20%;}
    #lhn3c3 nav.d a{font-size:1.25rem;}
    #lhn3c3 #icd{width:100%;flex-direction:row;margin-right:auto;}
    #lhn3c3 #icd{margin-top:25px;}
    #lhn3c3 #icd .ic.o1_3{margin:0 auto 0 0;}
    #lhn3c3 #icd .ic.o2_2{margin:0 20px 0 20px;}
    #lhn3c3 #icd .ic.o3_1{margin:0 0 0 auto;}
    #lhn3c3 #icp{order:1;}
    #lhn3c3 #ice{order:2;}
    #lhn3c3 #ich{order:3;}
    #lhn3c3 #ica{order:4;}
    #lhn3c3 #ics{order:4;}
    #lsn3c4 #l{max-width:192px;max-height:192px;margin-left:24px;}
    #lsn3c4 nav.d a{font-size:1.4rem;}
    #df{width:80%;}
    #sam{width:30%;}
    #me *{font-size:2rem;}
    #me .ioi{width:34px;height:34px;}
    #ms .sul{font-size:1.88rem;}
    #ms li{font-size:1.75rem;}
    #ms .li3 .sul{font-size:2.25rem;}
    #ms .li3 li{font-size:1.88rem;}
}
@media screen and (max-width:960px){
    .sr{font-size:1.75rem;}
    .qs.tc{width:75%;}
    #lsn3c4 #l{max-width:160px;max-height:160px;margin-left:18px;}
    #lsn3c4 nav.d a{font-size:1.3rem;}
}
@media screen and (max-width:896px){
    th{padding:10px 5px;font-size:1.5rem;}
    .c4{width:99%;}
    .sr{font-size:1.5rem;}
    .b896w70{width:70%;}
    #lvc3 #hd{width:70%;}
    #lhn3c3 .icd{font-size:1.25rem;margin-top:30px;}
    #lhn3c3 .icd:first-child{order:1;}
    #lhn3c3 .icd:nth-child(3){order:3;}
    #lhn3c3 .icd > div:first-child{margin-bottom:10px;}
    #lhn3c3 .icd > div:nth-child(2){margin-top:10px;}
    #lhn3c3 nav.d a{font-size:1.13rem;}
    #lsn3c4 .icd{margin-top:0;}
    #lsn3c4 nav.d a{font-size:1.2rem;}
    #lsn3c4 nav.d a:nth-child(2){margin-left:18px;margin-right:18px;}
    #hd{width:100%;}
    #df{width:85%;}
    #ss .li3 .sul{font-size:1.75rem;}
    #s *{font-size:1.25rem;}
    #me *{font-size:1.75rem;}
    #me .ioi{width:32px;height:32px;}
    #ma img{width: 60%;}
    #ms{flex-direction:column;}
    #ms img{order:1;margin-left:auto;margin-bottom:20px;width:50%;}
    #ms img.si{width:55%;}
    #ms ul{font-size:1.5rem;order:2;}
    #mssul{font-size:1.5rem;font-weight:bold;}
    #ms li{font-size:1.5rem;}
    #ms.msms ul{order:1;columns:2;}
    #ms.msms #msms{order:2;}
    #ms.msms #msms img{order:1;margin:1rem auto .75rem;}
    #ms.msms #msms span{order:2;}
    #ms.msms .sul{display:none;}
    #ms.msms #mssul{display:inline-block;margin-bottom:.5rem;}
}
@media screen and (max-width:768px){
    header{margin:20px auto;}
    main h1{font-size:2.25rem;margin:1.5rem auto;}
    section{margin:0 auto;}
    h2{font-size:2rem;margin:1rem auto;}
    th{font-size:1.38rem;}
    td{font-size:1.13rem;}
    small{font-size:large;}
    p{font-size:1.25rem;margin:.75rem auto;}
    ul{font-size:1.25rem;margin:.75rem auto;}
    address{font-size:1.25rem;margin:.75rem auto;}
    li{font-size:1.25rem;}
    button{font-size:1.25rem;margin-bottom:20px;}
    .ioi{width:22px;height:22px;}
    .w50{width:90%;}
    .w60{width:90%;}
    .t20{width:20%;}
    .t25{width:25%;}
    .t30{width:30%;}
    .t35{width:35%;}
    .t40{width:40%;}
    .t45{width:45%;}
    .t50{width:50%;}
    .t55{width:55%;}
    .t60{width:60%;}
    .t70{width:70%;}
    .t80{width:80%;}
    .t90{width:90%;}
    .q{font-size:1.25rem;margin:.75rem auto;}
    .ql{font-size:1rem;margin:.75rem auto;}
    .qs{font-size:1.25rem;margin:.75rem auto;}
    .qs.tc{font-size:1.25rem;}
    .s{width:100%;}
    .s span{font-size:1.38rem;margin:.75rem auto;}
    .pt{display:flex;}
    .d{display:none;}
    .o1{order:1;}
    .o2{order:2;}
    .o3{order:3;}
    .o4{order:4;}
    .o5{order:5;}
    .o6{order:6;}
    .o7{order:7;}
    .r768{flex-direction:row !important;}
    .b768lh24{line-height:24px;}
    #lhn3c3 #icd{order:1;width:auto;}
    #lhn3c3 .ic img{margin:0;}
    #lhn3c3 .ic span{display:none;}
    #lhn3c3 #icp img{width:33px;height:33px;}
    #lhn3c3 #ice img{width:33px;height:33px;}
    #lhn3c3 #ich img{width:33px;height:33px;}
    #lhn3c3 #ica img{width:36px;height:36px;right:6px;}
    #lhn3c3 #ics img{width:36px;height:36px;right:6px;}
    #lhn3c3 #lh{width:33.33%;order:2;margin:auto;}
    #lsn3c4 .icddd.b1024{display:none;}
    #lsn3c4 .icddd.t{display:flex;}
    #lsn3c4 .icddd.t{order:1;width:auto;}
    #lsn3c4 .icddd.t .icdd .icd{flex-direction:column;}
    #lsn3c4 .icddd.t .icdd .icd .ic:first-child{margin-top:0;margin-bottom:6px;}
    #lsn3c4 .icddd.t .icdd .icd .ic:nth-child(2){margin-top:6px;margin-bottom:0;}
    #lsn3c4 .icddd.t .icdd .icd img{right:auto;margin-right:2px;margin-left:2px;}
    #lsn3c4 .icddd.t .icdd .icd .ics img{margin-left:0;margin-right:0;}
    #lsn3c4 .icddd.t .icdd .icd span{display:none;}
    #lsn3c4 #l{order:2;}
    #lsn3c4 #bn{order:3;}
    #lvc3 #hd{width:100%;margin-bottom:20px;}
    #lvc3 #ic3d div:nth-child(2){margin:0 15px;}
    #lvc3 #ic3d #ics img{bottom:1px;right:auto;}
    #lvc3 #ic3d #ics span{right:auto;left:auto;}
    #bn{display:inline-block;order:3;font-size:1.38rem;}
    #bn img{margin-right:2px;}
    #df{width:90%;}
    #df .fdd label{font-size:1.25rem;}
    #df #fmd .fdd{padding:0 .6rem .6rem;}
    /* #dfs{width:132px;height:56px;} */
    #fs{font-size:1.5rem;}
    #fsSendImgDiv{width:24px;height:24px;}
    #fsSent img{width:28px;height:28px;}
    #s *{font-size:1rem;}
    #ssm{width:30%;}
    #ss .li3 .sul{font-size:1.5rem;}
    #f4 img{width:48px;height:auto;}
    #f3 img{width:48px;height:48px;}
    #f2 img{width:64px;height:64px;}
    #f2 #bbb{width:37px;}
    #a{font-size:.9rem;}
    #mp .ioi{width:36px;height:36px;}
    #me *{font-size:1.5rem;}
    #me .ioi{width:28px;height:28px;}
    #mh *{font-size:2rem;}
    #ma img{width:70%;}
    #ma .ioi{width:36px;height:36px;}
    #ms ul{font-size:1.75rem;}
    #ms img{width:60%;}
    #ms img.si{width:65%;}
    #ms .li3 .sul{font-size:2rem;}
    #ms .li3 li{font-size:1.5rem;}
    #md .mii span{font-size:1.5rem;}
}
@media screen and (max-width:672px){
    main h1{font-size:2rem;}
    h1{font-size:2.5rem;}
    p{font-size:1.13rem;}
    .qs{font-size:1.13rem;}
    .b672w50{width:50%;}
    .b672w70{width:70%;}
    .b672w80{width:80%;}
    .b672o1{order:1;}
    .b672o2{order:2;}
    .b672o3{order:3;}
    .b672o4{order:4;}
    .b672o5{order:5;}
    .b672o6{order:6;}
    .b672o7{order:7;}
    .qs.tc{font-size:1.13rem;}
    .fdd{margin:5px 0;}
    .fd{width:98%;}
    .fd:first-child .fdd{margin-top:0;}
    #lhn3c3 #icp img{width:28px;height:28px;}
    #lhn3c3 #ice img{width:28px;height:28px;}
    #lhn3c3 #ich img{width:28px;height:28px;}
    #lhn3c3 #ica img{width:30px;height:30px;}
    #lhn3c3 #ics img{width:30px;height:30px;}
    #lhn3c3 #bn{padding:13px 18px;font-size:1.19rem;}
    #lsn3c4 #bn{font-size:1.3rem;padding:12px 16px;}
    #bn img{width:21px;height:21px;margin-top:0;margin-right:2px;}
    #df{width:98%;}
    #df #fmd .fdd label{margin-bottom:.6rem;}
    #fmd .fdd{width:90%;}
    #dfc{margin:5px auto;}
    /* #dfs{margin:5px auto 10px;} */
    #ms img{width:70%;}
    #msms.hil{width:70%;}
    #msms.hi{width:65%;}
}
@media screen and (max-width:576px){
    nav.pt a{font-size:1.5rem;}
    main h1{font-size:1.75rem;}
    h1{font-size:2.25rem;}
    p{font-size:1.13rem;margin:.57rem auto;}
    .q{font-size:1.13rem;margin:.57rem auto;}
    .s span{font-size:1.25rem;}
    .ioi{width:20px;height:20px;}
    .b576w90{width:90%;}
    #lhn3c3 #lh{width:30%;}
    #lhn3c3 #icp img{width:26px;height:26px;}
    #lhn3c3 #ice img{width:26px;height:26px;}
    #lhn3c3 #ich img{width:26px;height:26px;}
    #lhn3c3 #ica img{width:28px;height:28px;}
    #lhn3c3 #ics img{width:28px;height:28px;}
    #lsn3c4 #l{max-width:192px;max-height:192px;margin:auto;order:1;}
    #lsn3c4 #bn{font-size:1.2rem;order:2;}
    #lsn3c4 .icddd.t{display:none;}
    #lsn3c4 #bn{font-size:1.38rem;}
    #lsn3c4 #bn img{width:24px;height:24px;}
    #lsn3c4 .icddd.b1024{display:flex;order:3;}
    #lsn3c4 .icddd.b1024 .icdd .icd span{display:none;}
    #lsn3c4 .icddd.b1024 .ic{margin-left:5px;margin-right:5px;}
    #lsn3c4 .icddd.b1024 .ic img{margin-left:0;margin-right:0;right:auto;}
    #lsn3c4 .icddd.b1024 .ics {order:1;padding:4px 9px;}
    #lsn3c4 .icddd.b1024 .ica {order:1;padding:4px 9px;}
    #lsn3c4 .icddd.b1024 .ich {order:2;}
    #bn{padding:10px 13px;font-size:1rem;}
    #bn img{width:18px;height:18px;}
    #s > *{padding:.5rem;}
    #sa{width:auto;}
    #ss{width:auto;}
    #sam{width:50%;}
    #ssm{width:50%;}
    #sh{width:auto;}
    #spe{width:auto;}
    #me *{font-size:1.25rem;}
    #me .ioi{width:26px;height:26px;}
    #mh *{font-size:1.5rem;}
    #ms ul{font-size:1.5rem;}
    #ms img{width:80%;}
    #ms img.si{width:75%;}
    #msms.hil{width:80%;}
    #msms.hi{width:75%;}
    #ms.msms .chr15 li{font-size:1.38rem;}
}
@media screen and (max-width:501px){
    th{font-size:1.25rem;}
    td{font-size:1rem;}
    .b501dn{display:none;}
    .b501dt{display:table;}
    .b501w45{width:45%;}
    .b501w50{width:50%;}
    .b501w55{width:55%;}
    .b501w60{width:60%;}
    .b501w65{width:65%;}
    .b501w70{width:70%;}
    .b501w80{width:80%;}
    .b501w100{width:100%;}
    .b501o1{order:1;}
    .b501o2{order:2;}
    .b501o3{order:3;}
    .c4{width:80%;}
    .b501rp15{transform:rotate(15deg);margin:2rem auto;}
    .b501rn15{transform:rotate(-15deg);margin:2rem auto;}
    .b501lh20{line-height:20px;}
    #lhn3c3 #lh{width:40%;}
    #lhn3c3 #icp img{margin-right:6px;}
    #lhn3c3 #ice img{margin-right:5px;}
    #lhn3c3 #ica span{right:6px;}
    #lhn3c3 #ics span{right:6px;}
    #lhn3c3 #icd{width:100%;order:4;margin-top:20px;}
    #lhn3c3 .ic span{display:inline-block;font-size:1.25rem;}
    #lhn3c3 #icd .ic.o1_3{margin:auto;}
    #lhn3c3 #icd .ic.o2_2{margin:auto;}
    #lhn3c3 #icd .ic.o3_1{margin:auto;}
    #lvc3 #ic3d{margin-top:20px;}
    #lvc3 #ic3d div{margin:auto;}
    #bn{padding:13px 18px;font-size:1.19rem;}
    #bn img{width:21px;height:21px;margin-top:0;margin-right:2px;}
    #fmd .fdd{width:98%;}
    #mp *{font-size:1.75rem;}
    #msms span{font-size:1rem;}
    #ms img{width:90%;}
    #msms.hil{width:90%;}
    #msms.hi{width:85%;}
    #ms img.si{width:85%;}
    #ms.msms .chr15 li{font-size:1.25rem;}
    #md .mii span{font-size:1.25rem;}
}
@media screen and (max-width:426px){
    h2{font-size:1.75rem;}
    p{font-size:1rem;margin:.5rem auto;}
    button{font-size:1rem;padding:10px 15px;}
    .icd{font-size:1.13rem;}
    .s span{font-size:1.13rem;margin:.57rem auto;}
    .q{font-size:1rem;margin:.5rem auto;}
    .ql{font-size:.9rem;margin:.5rem auto;}
    .qs{font-size:1rem;margin:.5rem auto;}
    .ioi{width:18px;height:18px;}
    .p25{width:25%;}
    .p30{width:30%;}
    .p35{width:35%;}
    .p40{width:40%;}
    .p45{width:45%;}
    .p50{width:50%;}
    .p55{width:55%;}
    .p60{width:60%;}
    .p70{width:70%;}
    .p80{width:80%;}
    .p90{width:90%;}
    .c4{width:90%;}
    .sr{font-size:1.25rem;}
    .b426p2r{padding:2rem;}
    #icp img{width:28px;height:28px;}
    #ice img{width:28px;height:28px;}
    #ich img{width:28px;height:28px;}
    #ica img{width:30px;height:30px;}
    #ics img{width:30px;height:30px;}
    #ic3d div span{font-size:1.38rem;}
    #s *{font-size:1rem;}
    #s > *{padding:.5rem;}
    #spe{width:100%;}
    #sh ul{list-style-type:disc;}
    #ss li span{right:auto;}
    #ssm{width:50%;}
    #sh{width:100%;}
    #f1 img{width:64px;height:64px;}
    #mp *{font-size:1.63rem;}
    #mp .ioi{width:30px;height:30px;}
    #me *{font-size:1.13rem;}
    #me .ioi{width:24px;height:24px;}
    #mh *{font-size:1.5rem;}
    #ma *{font-size:1.5rem;}
    #ma .ioi{width:32px;height:32px;}
    #ma img{width:90%;}
    #ms ul{font-size:1.38rem;}
    #mssul{font-size:1.25rem;}
    #ms.msms li{font-size:1.25rem;}
    #ms img.si{width:95%;}
    #msms.hil{width:95%;}
    #msms.hi{width:95%;}
    #ms.msms .chr15.even{columns:auto;}
}
@media screen and (max-width:376px){
    nav.pt a{font-size:1.25rem;}
    main h1{margin:1rem auto;font-size:1.63rem;padding-left:.5rem;padding-right:.5rem;}
    table{margin-bottom:24px;}
    th{font-size:1.13rem;}
    th .i{width:22px;height:22px;}
    td .i{width:20px;height:20px;}
    .qs.tc{margin-bottom:1.75rem;width:90%;}
    .b376o2{order:2;}
    .b376o3{order:3;}
    .b376w50{width:50%;}
    .b376w90{width:90%;}
    .c4{width:100%;margin-left:3px;margin-right:3px;}
    #bn{padding:10px 13px;font-size:1rem;}
    #bn img{width:18px;height:18px;}
    #lhn3c3 .ic span{font-size:1.13rem;}
    #lhn3c3 #icp img{width:24px;height:24px;}
    #lhn3c3 #ice img{width:24px;height:24px;}
    #lhn3c3 #ich img{width:24px;height:24px;}
    #lhn3c3 #ica img{width:26px;height:26px;}
    #lhn3c3 #ics img{width:26px;height:26px;}
    #lsn3c4 #bn{font-size:1.3rem;padding:10px 13px;}
    #lsn3c4 #bn img{width:22px;height:22px;}
    #lsn3c4 .icp img{width:26px;height:26px;}
    #lsn3c4 .ice img{width:28px;height:28px;}
    #lsn3c4 .ich img{width:28px;height:28px;}
    #lsn3c4 .ica img{width:28px;height:28px;}
    #lsn3c4 .icddd.b1024 .ic{margin-top:3px;margin-bottom:3px;padding-top:3px;padding-top:3px;}
    #ic3d div span{font-size:1.35rem;}
    #lvc3 #icp img{width:24px;height:24px;}
    #lvc3 #ice img{width:24px;height:24px;}
    #lvc3 #ich img{width:24px;height:24px;}
    #lvc3 #ica img{width:26px;height:26px;}
    #lvc3 #ics img{width:26px;height:26px;}
    #df{padding:0;}
    #dfc{transform: scale(.7);margin:0;}
    #fc{margin:unset;}
    #fs{width:124px;height:56px;}
    #spe a:last-child{margin-bottom:5px;}
    #hul{margin-left:10px;}
    #ssm{width:80%;}
    #fmd .fdd{margin-bottom:15px;}
    #f2 #a{margin-top:2.75rem;}
    #f3 img{width:36px;height:36px;}
    #f4 img{width:36px;height:auto;}
    #mp *{font-size:1.5rem;}
    #me *{font-size:1rem;}
    #me .ioi{width:22px;height:22px;}
    #ma img{width:95%;}
    #ms img{width:95%;}
    #ms ul{font-size:1.25rem;}
    #mssul{font-size:1.13rem;}
    #ms.msms li{font-size:1.13rem;}
    #ms img.si{width:100%;}
}
@media screen and (max-width:320px){
    .icd:first-child{padding-left:10px;}
    .icd:nth-child(3){padding-left:10px;}
    .b320w70{width:70%;}
    .b320w80{width:80%;}
    #ic3d div span{font-size:1.25rem;}
    #lsn3c4 .icddd.b1024 .ic{margin-left:3px;margin-right:3px;}
    #lhn3c3 .ic span{font-size:1rem;}
    #lhn3c3 #icp img{width:22px;height:22px;}
    #lhn3c3 #ice img{width:22px;height:22px;}
    #lhn3c3 #ich img{width:22px;height:22px;}
    #lhn3c3 #ica img{width:24px;height:24px;}
    #lhn3c3 #ics img{width:24px;height:24px;}
    #lvc3 #icp img{width:22px;height:22px;}
    #lvc3 #ice img{width:22px;height:22px;}
    #lvc3 #ich img{width:22px;height:22px;}
    #lvc3 #ica img{width:24px;height:24px;}
    #lvc3 #ics img{width:24px;height:24px;}
    #lsn3c4 .icddd.b1024 .icdd{padding-left:2px;padding-right:2px;}
    #lsn3c4 .icp img{width:22px;height:22px;}
    #lsn3c4 .ice img{width:24px;height:24px;}
    #lsn3c4 .ich img{width:24px;height:24px;}
    #lsn3c4 .ica img{width:26px;height:26px;}
    #lsn3c4 .ics img{width:26px;height:26px;}
    #lsn3c4 #bn{font-size:1.2rem;padding:8px 11px;}
    #lsn3c4 #bn img{width:20px;height:22px;}
    #nx{width:36px;height:36px;}
    #dfc{transform: scale(.55);}
    #spe{margin-top:10px;}
    #sam{width:90%;}
    #ssm{width:90%;}
    #a{margin:2.5rem auto 0;}
    #f4 img{width:32px;height:auto;}
    #mg{max-width:98%;max-height:98%;}
    #mp *{font-size:1.38rem;}
    #mp .ioi{width:28px;height:28px;}
    #me .ioi{width:22px;height:22px;}
    #mh *{font-size:1.5rem;}
    #ma *{font-size:1.5rem;}
    #ma .ioi{width:28px;height:28px;}
    #ms.msms ul{columns:1;}
    #mssul{font-size:1.25rem;}
    #ms.msms li{font-size:1.25rem;}
    #mx{width:36px;height:36px;bottom:20px;}
}
@media screen and (max-width:280px){
    button.m{width:36px;height:36px;}
    #mp *{font-size:1.25rem;}
    #mp .ioi{width:24px;height:24px;}
    #me .ioi{width:20px;height:20px;}
    #me *{font-size:1rem;}
    #mh *{font-size:1.25rem;}
    #ma *{font-size:1.25rem;}
    #ma .ioi{width:24px;height:24px;}
    #ms ul{font-size:1rem;}
}
@media screen and (max-height:475px){
    #nx{width:32px;height:32px;}
    #mp .ioi{width:24px;height:24px;}
    #me .ioi{width:24px;height:24px;}
    #ma .ioi{width:24px;height:24px;}
    #ma img{width:20%;}
    #ms img{width:35%;margin-bottom:10px;}
    #ms ul{font-size:1rem;}
    #mx{width:32px;height:32px;bottom:5px;}
}
@media screen and (max-height:375px){
    #ms img{width:30%;}
    #ms ul{font-size:1rem;}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    #mg{cursor:pointer;}
    #mx{left:50%;}
}